<h1 class='page-header'>Shop</h1>

<div class="container">
    <% @products.each do |product| %>
        <% if product.inventory > 0 %>
            <a href="<%= dingledoo_url(product) %>">
                <div class="row justify-content-left" style="vertical-align: top; display: inline-block">
                    <div class="col-md-4 col-12">
                        <div class="card" style="width: 350px; height: 560px; margin: 5px 5px 0px">
                            <div class="image-container">
                                <%= image_tag(product.images, class: "shop-img") %>
                            </div>
                                <div class="card-body text-center">
                                    <h5 class="card-title text-left" style="color: pink"><%= product.name %></h5>
                                    <p class="card-text text-justify text-right" style="color: grey"><%= number_to_currency(product.price) %></p>
                                </div>
                        </div>
                    </div>
                </div>
            </a>
        <% end %>
    <% end %>
</div>


