<h1 class='page-header'>New User</h1>

<a class='button' href=<%= new_session_url %> >Go to sign-in</a>



<form class='form' action="<%= users_url %>" method="post">
  <input
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">

  <div class="form-group">
    <label for="new-user-email">Email address</label>
    <input type="text" id='new-user-email' name="user[email]" aria-describedby="emailHelp" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="new-user-password">Password</label>
    <input type="password" id="new-user-password" name="user[password]" placeholder="Password">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>