@import "base/reset.scss";

// Core
@import "base/colors.scss";
@import "base/fonts.scss";
@import "base/layout.scss";

// Grid
@import "base/grid.scss";

// Components
@import "components/*";

@import "bootstrap";

.image-container {
  height: 95%;
}

.image-container .shop-img {
  // max-width: 200px;
  max-height: 100%;
  // width: auto;
  height: auto;
  flex: 1;
  // background-size: cover;
  width: 100%;
}

.wrapper {
  padding-right: 30px;
  padding-left: 30px;
}

img.product-show-img {
  max-height: 8%;
  width: auto;
}
