@import "base/reset.scss";

// Core
@import "base/colors.scss";
@import "base/fonts.scss";
@import "base/layout.scss";

// Grid
@import "base/grid.scss";

// Components
@import "components/*";

@import "bootstrap";

.image-container {
  height: 95%;
}

.image-container .shop-img {
  // max-width: 200px;
  max-height: 100%;
  // width: auto;
  height: auto;
  flex: 1;
  // background-size: cover;
  width: 100%;
}

.wrapper {
  padding-right: 30px;
  padding-left: 30px;
}

img.product-show-img {
  max-height: 8%;
  width: auto;
}
img.shop-show-img {
  max-height: 600px;
  width: auto;
}
img.cart-show-img {
  max-height: 200px;
  max-width: 130px;
}

// Parallax Home Page

* {
  box-sizing: border-box;
}

html,
body {
  background-color: #fedcc8;
}

.parallax {
  perspective: 100px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 8%;
  left: 50%;
  right: 0;
  bottom: 0;
  margin-left: -1500px;
}

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  img {
    display: block;
    position: absolute;
    bottom: 0;
  }
}

.parallax__cover {
  background: #2d112b;
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 2000px;
  z-index: 2;
}

$parallax__layers: 6;

@for $i from 0 through $parallax__layers {
  $x: ($parallax__layers - $i) / 2;
  .parallax__layer__#{$i} {
    transform: translateZ(-100 * $x#{px}) scale($x + 1);
  }
}
